*{ padding: 0; margin: 0; box-sizing: border-box; text-decoration: none; font-family: 'Pridi', serif; 
list-style: none;
}
@import url('https://fonts.googleapis.com/css?family=Pridi');


.containermenu{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	position: fixed;
	border-bottom: 1px solid #000;
	z-index: 3;
	background-color: #fff;
}
.containermenuImage{
	width: 50px;
	height: 50px;
	margin-top: 5px;
	margin-right: 5px;
}
.containermenuLogo{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.containermenuBlock__link{
	font-size: 25px;
	color: black;
	display: none;
}
.containermenuBlock__link:hover{	
	font-weight: bold;
	font-size: 25px;
}
.menu-hamburguer{
	display: block;
	background-color: #000;
	width: 30px;
	height: 5px;
	margin-left: 5px;
	margin-top: 5px;
	border-radius: 20%;
	transition: .5s ease-in-out;
	position: relative;
    left: 5px;
}
.menu-hamburguer:before, 
.menu-hamburguer:after{
	background-color: #000;
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 10px;
	transition: .5s ease-in-out;
}
.menu-hamburguer:before{
	top: 10px;
}
.menu-hambuguer:after{
	top: -10px;
}
input{
	display: none;
}
 input:checked ~ label .menu-hamburguer {
    transform: rotate(45deg);
}

input:checked ~ label .menu-hamburguer:before {
    transform: rotate(90deg);
        top: 0;
}

input:checked ~ label .menu-hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;
}
label{
	display: block;
}
.containermenuBlock{
	text-align: center;
	width: 100%;
	display: none;
}
.containermenuBlock__link{
    display: block;
    width: 15%;
  	font-size: 20px;
    font-weight: 400;
    float: right;
    position: relative;
    right: 42vw;
    background-color: black;
    opacity: 0.8;
    transition: transform .2s;
    margin: 0px;
    color: white;
}
.containermenuBlock__link:hover{
	transform: scale(1);
	color: white;
}
#menu-hamburguer:checked ~ .containermenuBlock{
	display: block;
}
#menu-hamburguer:checked ~ .containermenuLogo{
	display: none;
}
.containersale{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around; 
	padding-top: 150px;
}
.colectionspromotions{
	font-size: 30px;
	text-align: center;
	position: relative;
	top: 15vh;
}
@media (max-width: 768px){
	.colectionspromotions{
		position: relative;
		top: 20vh;
	}
}
@media (max-width: 375px){
	.colectionspromotions{
		position: relative;
		top: 17vh;
	}
}
.containersaleBlock__camisas{
	width: 30%;
	height: 250px;
	background-color: #FFF695;	
	border-radius: 15%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
}
@media (max-width: 425px){
	.containersaleBlock__camisas{
		width: 80%;
		margin-top: 5px;
	}
}
.containersaleBlock__camisasImage{
	width: 150px;
	height: 150px;
}
.containersaleBlock__camisasLine{
	width: 30%;
	height: 5px;
	border-radius: 15%;	
	background-color: #29E80E;
	align-self: flex-start;
	align-self: center;
}
.containersaleBlock__camisasSubtitle{
	font-size: 30px;
}
.containersaleBlock__camisasParagraph:hover{
	font-size: 30px;
 	background: -webkit-linear-gradient(#000, #fff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.containersaleBlock__camisasParagraph{
	font-size: 25px;
	color: black;
}
.containersaleBlock__bolsas{
	width: 30%;
	height: 250px;
	background-color: #FF9FFD;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;	
	border-radius: 15%;	
}
@media (max-width: 425px){
	.containersaleBlock__bolsas{
		width: 80%;
		margin-top: 5px;
	}
}
.containersaleBlock__bolsasImage{
	width: 150px;
	height: 150px;
}
.containersaleBlock__bolsasLine{
	width: 30%;
	height: 5px;
	border-radius: 15%;
	background-color: #75C7FF;
}
.containersaleBlock__bolsasSubtitle{
	font-size: 30px;
	color: black;
}
.containersaleBlock__bolsasParagraph:hover{
	font-size: 30px;
 	background: -webkit-linear-gradient(#000, #fff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.containersaleBlock__bolsasParagraph{
	font-size: 25px;
	color: black;
}
.containersaleBlock__tenis{
	width: 30%;
	height: 250px;
	background-color: #75C7FF;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;	
	border-radius: 15%;		
}
@media (max-width: 425px){
	.containersaleBlock__tenis{
		width: 80%;
		margin-top: 5px;
	}
}
.containersaleBlock__tenisImage{
	width: 150px;
	height: 150px;
}
.containersaleBlock__tenisLine{
	width: 30%;
	height: 5px;
	border-radius: 15%;
	background-color: magenta;
}
.containersaleBlock__tenisSubtitle{
	font-size: 30px;
	color: black;
}
.containersaleBlock__tenisParagraph:hover{
	font-size: 30px;
 	background: -webkit-linear-gradient(#000, #fff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;	
}
.containersaleBlock__tenisParagraph{
	font-size: 25px;
	color: black;
}
.containeresportes{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around; 
	align-items: flex-end;
	margin-top: 90px;	
}
.colectionesportes{
	font-size: 30px;
	text-align: center;
	margin-top: 25px;
	border-top: 1px solid #000;

}
.containeresportesBlock__chuteiras{
	width: 30%;
	height: 250px;
	background-color: #B775FF;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;	
	border-radius: 15%;		
}
@media (max-width: 425px){
	.containeresportesBlock__chuteiras{
		width: 80%;
		margin-top: 5px;
	}
}
.containeresportesBlock__chuteirasImage{
	width: 180px;
	height: 160px;	
}
.containeresportesBlock__chuteirasLine{
	width: 30%;
	height: 5px;
	border-radius: 15%;
	background-color: #00FF09;
}
.containeresportesBlock__chuteirasSubtitle{
	font-size: 30px;
	color: black;
}
.containeresportesBlock__chuteirasParagraph:hover{
	font-size: 30px;
 	background: -webkit-linear-gradient(#000, #fff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;	
}
.containeresportesBlock__chuteirasParagraph{
	font-size: 25px;
	color: black;	
}
.containeresportesBlock__kimonos{
	width: 30%;
	height: 250px;
	background-color: #ff0000;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;	
	border-radius: 15%;	
}
@media (max-width: 425px){
	.containeresportesBlock__kimonos{
		width: 80%;
		margin-top: 5px;
	}
}
.containeresportesBlock__kimonosImage{
	width: 130px;
	height: 150px;
}
.containeresportesBlock__kimonosLine{
	width: 30%;
	height: 5px;
	border-radius: 15%;
	background-color: #000;		
}
.containeresportesBlock__kimonosSubtitle{
	font-size: 30px;
	color: black;
}
.containeresportesBlock__kimonosParagraph:hover{
	font-size: 30px;
 	background: -webkit-linear-gradient(#000, #fff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;	
}
.containeresportesBlock__kimonosParagraph{
	font-size: 25px;
	color: black;
}
.containeresportesBlock__uniformes{
	width: 30%;
	height: 250px;
	background-color: #81FF81;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;	
	border-radius: 15%;	
}
@media (max-width: 425px){
	.containeresportesBlock__uniformes{
		width: 80%;
		margin-top: 5px;
	}
}
.containeresportesBlock__uniformesImage{
	width: 140px;
	height: 150px;
}
.containeresportesBlock__uniformesLine{
	width: 30%;
	height: 5px;
	border-radius: 15%;
	background-color: #000;	
}
.containeresportesBlock__uniformesSubtitle{
	font-size: 30px;
	color: #000;
}
.containeresportesBlock__uniformesParagraph:hover{
	font-size: 30px;
 	background: -webkit-linear-gradient(#000, #fff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;		
}
.containeresportesBlock__uniformesParagraph{
	font-size: 25px;
	color: black;
}
.colectionfeminino{
	font-size: 30px;
	text-align: center;
	margin-top: 25px;	
	border-top: 1px solid #000;
}
.containerfeminino{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around; 
	align-items: flex-end;
	margin-top: 90px;
}
.containerfemininoBlock__sapatos{
	width: 30%;
	height: 250px;
	background-color: #FF7CD4;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;	
	border-radius: 15%;		
}
@media (max-width: 425px){
	.containerfemininoBlock__sapatos{
		width: 80%;
		margin-top: 5px;
	}
}
.containerfemininoBlock__sapatosImage{
	width: 150px;
	height: 150px;
}
.containerfemininoBlock__sapatosLine{
	width: 30%;
	height: 5px;
	border-radius: 15%;
	background-color: #FF231C;
}
.containerfemininoBlock__sapatosSubtitle{
	font-size: 30px;
	color: #000;
}
.containerfemininoBlock__sapatosParagraph:hover{
	font-size: 30px;
 	background: -webkit-linear-gradient(#000, #fff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;	
}
.containerfemininoBlock__sapatosParagraph{
	font-size: 25px;
	color: black;
}
.containerfemininoBlock__jaquetas{
	width: 30%;
	height: 250px;
	background-color: #FF5B23;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;	
	border-radius: 15%;	
}
@media (max-width: 425px){
	.containerfemininoBlock__jaquetas{
		width: 80%;
		margin-top: 5px;
	}
}
.containerfemininoBlock__jaquetasImage{
	width: 170px;
	height: 150px;
}

.containerfemininoBlock__jaquetasLine{
	width: 30%;
	height: 5px;
	border-radius: 15%;
	background-color: #FFE94E;

}
.containerfemininoBlock__jaquetasSubtitle{
	font-size: 30px;
	color: #000;

}
.containerfemininoBlock__jaquetasParagraph:hover{
	font-size: 30px;
 	background: -webkit-linear-gradient(#000, #fff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;		
}
.containerfemininoBlock__jaquetasParagraph{
	font-size: 25px;
	color: black;
}
.containerfemininoBlock__saias{
	width: 30%;
	height: 250px;
	background-color: #96EBA4;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;	
	border-radius: 15%;
}
@media (max-width: 425px){
	.containerfemininoBlock__saias{
		width: 80%;
		margin-top: 5px;
	}
}
.containerfemininoBlock__saiasImage{
	width: 180px;
	height: 150px;
}
.containerfemininoBlock__saiasLine{
	width: 30%;
	height: 5px;
	border-radius: 15%;
	background-color: #745CFF;
}
.containerfemininoBlock__saiasSubtitle{
	font-size: 30px;
	color: #000;
}
.containerfemininoBlock__saiasParagraph:hover{
	font-size: 30px;
 	background: -webkit-linear-gradient(#000, #fff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;	
}
.containerfemininoBlock__saiasParagraph{
	font-size: 25px;
	color: black;
}
.containerfooter{
	border-top: 1px solid #000;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}
.containerfooterLista{
	margin-top: 25px;
}
.containerfooterLista__sociaisLink{
	font-size: 20px;
	color: black;
}
.containerfooterLista__sociais{
	width: 20px;
	height: 20px;
	border-radius: 50%;
}
.containerfooterSubtitle{
	font-size: 30px;
	text-align: center;
}
.containerfooterDireitos{
	font-size: 15px;
}
@media (max-width: 365px){
	.containerfooterDireitos{
		text-align: center;
	}
}
@media (max-width: 320px){
	.containerfooterDireitos{
		text-align: center;
	}
}
.containerfooterEmail{
	font-size: 15px;
}
@media (max-width: 425px){
	label{
		display: block;
	}
	.containermenuBlock{
		text-align: center;
		width: 100%;
		display: none;
	}
	.containermenuBlock__link{
      display: block;
      width: 40%;
      height: 10%;
      position: relative;
      left: 1px;
      font-size: 20px;
      font-weight: 400;
      float: right;
      flex-direction: column;
      border-bottom: 1px solid white;
      background-color: black;
      opacity: 0.8;
      transition: transform .2s;
	}
	.containermenuBlock__link:hover{
		transform: scale(1);
		color: black;
	}
	#menu-hamburguer:checked ~ .containermenuBlock{
		display: block;
	}
}